a {
  float: left;
  text-decoration: none;
  color: white;
  padding: 10px 10px;
}

#main {
	margin-right: auto;
	margin-left: auto;
	width: 1024px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;
	height: auto;
}

#header {
	width: 1024px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
	margin-bottom: 0px;
}
	
		#navbar {
	width: 1024px;
	height: 130px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	background-image: url(home_02.jpg);
	}
	
			#navbartext {
	width: 110px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	float: left;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	height: 80px;
	color: #FFFFFF;
	padding-top: 50px;
	padding-left: 20px;
	}
	
				#navbartextcontact {
	width: 230px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	float: left;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	height: 80px;
	color: #FFFFFF;
	padding-top: 50px;
	padding-left: 400px;
	}
	
	
		#body {
	width: 1024px;
	height: 625px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	background-image: url(home_background.jpg);
	float: left;
	}

    #body2 {
	width: 1024px;
	height: 725px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	background-image: url(home_background2.jpg);
	float: left;
	}
	
			#bodycontact {
	width: 1024px;
	height: 625px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	float: left;
		}
		
					#bodygallery {
	width: 1024px;
	height: 956px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	float: left;
	background-image: url(gallery_background.jpg);
		}
	
			#bodytextone {
	width: 560px;
	height: 355px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 16px;
	padding-left: 50px;
	padding-right: 50px;
	line-height: normal;
	padding-top: 30px;


	}
	
				#bodytexttwo {
	width: 254px;
	height: 420px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	float: left;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding-left: 20px;
	padding-right: 90px;
	padding-top: 65px;
	line-height: normal;
	}
	
					#bodyright {
	width: 360px;
	height: 385px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	float: left;
	}
	
						#bodyleft {
	width: 660px;
	height: 385px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	float: left;
	}
	
	
